<!doctype html>
<html lang="en">
  <head>

  	<title>Cards: Design by Cora Goldston</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  	<link rel="stylesheet" href="../css/bootstrap.min.css">
	  <link rel="stylesheet" href="../css/design-system-style.css">

    <link rel="icon" href="../images/favicon.ico">

  </head>

  <body>
		
		<div class="d-flex">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="toggle-btn">
	    				<span class="sr-only">Toggle Menu</span>
	          				<div id="nav-icon1" >
							  <span></span>
							  <span></span>
							  <span></span>
							</div>
	       			 </button>
        	</div>
		<div class="p-4 pt-6">
		  <figure><a href="../design-system.html" class="logo">
        <img src="../images/gradient.png" alt="Cora Goldston logo">
      </a></figure>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="../foundation/type.html">Typography</a>
                </li>
                <li>
                    <a href="../foundation/color.html">Color</a>
                </li>
                <li>
                    <a href="../foundation/logo.html">Logo</a>
                </li>
	            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                <li>
                    <a href="../components/nav-bar.html">Navigation Bar</a>
                </li>
                <li>
                    <a href="../components/footer.html">Footer</a>
                </li>
                <li>
                    <a href="../components/card.html">Card</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                <li>
                    <a href="../patterns/about-pattern.html">About Page</a>
                </li>
                <li>
                    <a href="../patterns/projects-pattern.html">Projects</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h2>Cards</h2>

              <figure class="comp-fig">
                <img class="card-img" src="../images/card.png" alt="Image of card">
              </figure>

              <h3>Description and Use Details</h3>
              <p>Cards can be used on any page that displays multiple content items of the same type (projects, blog posts, etc.). Cards make content stand out by providing an associated image, title, and description.</p>

              <h3>Accessbility</h3>
              <ul>
                <li>Ensure sufficient space between cards, so that users can clearly read and process each card.</li>
                <li>Use an h tag for the title in the card code. This will differentiate the title and description for screen reader use.</li>
              </ul>

              <h3>Code</h3>
              <code>
                /* Card - Desktop */
                <br>
                position: absolute;
                <br>
                width: 342px;
                <br>
                height: 370px;
                <br>
                left: 0px;
                <br>
                top: 134px;
                <br>
                <br>
                /* Card Title and Description -- Card Title is an h2 tag in the html */
                <br>
                position: absolute;
                <br>
                left: 8.77%;
                <br>
                right: 8.77%;
                <br>
                top: 51.35%;
                <br>
                bottom: 2.7%;
                <br>
                font-family: 'Jost';
                <br>
                font-style: normal;
                <br>
                font-weight: 550;
                <br>
                font-size: 39.056px;
                <br>
                line-height: 56px;
                <br>
                color: #000000;
                <br>
                <br>
                /* Card Border */
                <br>
                box-sizing: border-box;
                <br>
                position: absolute;
                <br>
                left: 0%;
                <br>
                right: 0%;
                <br>
                top: 0%;
                <br>
                bottom: 25.41%;
                <br>
                border: 2px solid #832412;
                <br>
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                <br>
                border-radius: 20px;
                <br>
                <br>
                /* Grey Box for Card Image Placeholder */
                <br>
                position: absolute;
                <br>
                left: 8.77%;
                <br>
                right: 8.77%;
                <br>
                top: 8.65%;
                <br>
                bottom: 50.27%;
                <br>
                background: #D9D9D9;
                <br>
                <br>
                /* Top-Left to Bottom-Right Diagonal Line for Card Image Placeholder */
                <br>
                position: absolute;
                <br>
                left: 8.77%;
                <br>
                right: -2.44%;
                <br>
                top: 8.65%;
                <br>
                bottom: 91.35%;
                <br>
                border: 1px solid #000000;
                <br>
                transform: rotate(28.32deg);
                <br>
                <br>
                /* Top-Left to Bottom-Right Diagonal Line for Card Image Placeholder */
                <br>
                position: absolute;
                <br>
                left: 91.23%;
                <br>
                right: -84.9%;
                <br>
                top: 8.65%;
                <br>
                bottom: 91.35%;
                <br>
                border: 1px solid #000000;
                <br>
                transform: matrix(-0.88, 0.47, 0.47, 0.88, 0, 0);
              </code>

    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>