<!doctype html>
<html lang="en">
  <head>

  	<title>Navigation Bar: Design by Cora Goldston</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  	<link rel="stylesheet" href="../css/bootstrap.min.css">
	  <link rel="stylesheet" href="../css/design-system-style.css">

    <link rel="icon" href="../images/favicon.ico">

  </head>

  <body>
		
		<div class="d-flex">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="toggle-btn">
	    				<span class="sr-only">Toggle Menu</span>
	          				<div id="nav-icon1" >
							  <span></span>
							  <span></span>
							  <span></span>
							</div>
	       			 </button>
        	</div>
		<div class="p-4 pt-6">
		  <figure><a href="../design-system.html" class="logo">
        <img src="../images/gradient.png" alt="Cora Goldston logo">
      </a></figure>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="../foundation/type.html">Typography</a>
                </li>
                <li>
                    <a href="../foundation/color.html">Color</a>
                </li>
                <li>
                    <a href="../foundation/logo.html">Logo</a>
                </li>
	            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                <li>
                    <a href="../components/nav-bar.html">Navigation Bar</a>
                </li>
                <li>
                    <a href="../components/footer.html">Footer</a>
                </li>
                <li>
                    <a href="../components/card.html">Card</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                <li>
                    <a href="../patterns/about-pattern.html">About Page</a>
                </li>
                <li>
                    <a href="../patterns/projects-pattern.html">Projects</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h2>Navigation Bar</h2>

              <figure class="comp-fig">
                <img class="comp-img" src="../images/navbar.png" alt="Image of navigation bar">
              </figure>

              <h3>Description and Use Details</h3>
              <p>The navigation bar must be used on all Design by Cora Goldston webpages. On most pages, this will be at the top of the screen. The navigation bar allows the user to go from their current page to any other page on the website.</p>

              <h3>Accessbility</h3>
              <ul>
                <li>Ensure that the link colors contrast with the navigation bar's background color.</li>
                <li>Ensure visual contrast with dark mode, in case users have dark mode enabled in their browsers.</li>
              </ul>

              <h3>Code</h3>
              <code>
                /* Desktop Navigation Bar */
                <br>
                position: relative;
                <br>
                width: 1440px;
                <br>
                height: 102px;
                <br>
                left: 30px;
                <br>
                top: 149px;
                <br>
                <br>
                /* Rectangle Background for Navigation Bar */
                <br>
                position: absolute;
                <br>
                left: 0%;
                <br>
                right: 0%;
                <br>
                top: 0%;
                <br>
                bottom: 0%;
                <br>
                background: rgba(243, 162, 66, 0.5);
                <br>
                <br>
                /* Horizontal Divider Line for Header - Desktop */
                <br>
                position: absolute;
                <br>
                left: 100%;
                <br>
                right: -100%;
                <br>
                top: 94.12%;
                <br>
                bottom: 5.88%;
                <br>
                border: 3px solid #832412;
                <br>
                transform: rotate(180deg);
                <br>
                <br>
                /* Name - Desktop */
                <br>
                position: absolute;
                <br>
                left: 8.47%;
                <br>
                right: 63.54%;
                <br>
                top: 17.65%;
                <br>
                bottom: 8.82%;
                <br>
                font-family: 'Jost';
                <br>
                font-style: normal;
                <br>
                font-weight: 500;
                <br>
                font-size: 60px;
                <br>
                line-height: 87px;
                <br>
                color: #832412;
                <br>
                <br>
                /* Home Link - Desktop */
                <br>
                position: absolute;
                <br>
                left: 50.69%;
                <br>
                right: 40.69%;
                <br>
                top: 26.47%;
                <br>
                bottom: 0%;
                <br>
                font-family: 'Jost';
                <br>
                font-style: normal;
                <br>
                font-weight: 400;
                <br>
                font-size: 48px;
                <br>
                line-height: 69px;
                <br>
                color: #832412;
                <br>
                <br>
                /* About Link - Desktop */
                <br>
                position: absolute;
                <br>
                left: 62.08%;
                <br>
                right: 28.96%;
                <br>
                top: 26.47%;
                <br>
                bottom: 5.88%;
                <br>
                font-family: 'Jost';
                <br>
                font-style: normal;
                <br>
                font-weight: 400;
                <br>
                font-size: 48px;
                <br>
                line-height: 69px;
                <br>
                color: #832412;
                <br>
                <br>
                /* Projects Link - Desktop */
                <br>
                position: absolute;
                <br>
                left: 73.82%;
                <br>
                right: 14.79%;
                <br>
                top: 26.47%;
                <br>
                bottom: 0%;
                <br>
                font-family: 'Jost';
                <br>
                font-style: normal;
                <br>
                font-weight: 400;
                <br>
                font-size: 48px;
                <br>
                line-height: 69px;
                <br>
                color: #832412;
                <br>
                <br>
                /* LinkedIn Logo for Header - Desktop */
                <br>
                position: absolute;
                <br>
                left: 88.12%;
                <br>
                right: 8.54%;
                <br>
                top: 36.27%;
                <br>
                bottom: 16.67%;
                <br>
                background: url(In-Blue-40@2x.png);
              </code>

    		             
    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>