body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  font-weight: normal;
  background-color: #fffaf0;
  /* Background color is floral white */
  color: #000000; 
}

p {
  margin-top: 0;
  margin-bottom: 1rem; 
}

a {
  font-family: 'Prompt';
  font-size: 1rem;
  font-weight: 500;
  color: #f09f42;
  /* Design system orange */
  text-decoration: underline;
}

  a:hover {
    color: #3ca38a;
    text-decoration: none; 
  }

.hov-lede {
  font-weight: 700;
}

.menu-item {
  display: block;
  padding-top: 1rem;
  color: #802412;
}

.top-item{
  border-top: 1px solid #802412; 
}

.logo-fig {
  margin-bottom: 3rem;
}

.logo-image {
  margin-left: 2.5rem;
}

.comp-fig {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comp-img {
  width: 100%;
}

.card-img {
  width: 50%;
}

.section {
  margin: 3.5rem 0;
  border-top: .125rem solid #802412;
  border-bottom: .125rem solid #802412;
  padding: 2rem 0;
}

.section-name {
  color: #802412;
}

.card {
  align-items: center;
  padding: 1.5rem 0;
  border: .0625rem solid #802412;
}

.card-title {
  text-align: center;
  margin-top: .5rem;
  color: #802412;
}

.card-text {
  text-align: center;
}

.card-body {
  padding-bottom: 0;
}

.row {
  margin-bottom: 3rem;
}

.indent {
  padding-left: 1rem;
}

.row.less-margin-bottom {
  margin-bottom: .5rem;
}

h2, h3, h4 
.h2, .h3, .h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Jost';
}

h1, .h1 {
  font-size: 3.052rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

h2, .h2 {
  font-size: 2.441rem;
  font-weight: 550; 
}

h3, .h3 {
  font-size: 1.953rem;
  font-weight: 450; 
}

h4, .h4 {
  font-size: 1.563rem;
  font-weight: 450; 
}

.emphasis {
  font-size: 1.25rem;
  font-weight: 600;
  color: #802412;
  /* Design system red */
}

.hero {
  margin-bottom: 1.5rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none; 
}

.headline {
  color: #802412;
}

.subtitle {
  color: #f09f42;
}

img {
width: 80%;
}

.phone {
  width: 30%
}

.main-content {
  padding-bottom: 2rem;
  border-bottom: solid #3A456E .0625rem;
}

.jost-top {
  font-family: 'Jost';
  font-size: 2.0625rem;
}

.prompt-top {
  font-family: 'Prompt';
  font-size: 2.0625rem;
}

h1.jost {
  font-family: 'Jost';
  font-size: 3.052rem;
  font-weight: 600;
}

h2.jost {
  font-family: 'Jost';
  font-size: 2.441rem;
  font-weight: 550;
}

h3.jost {
  font-family: 'Jost';
  font-size: 1.953rem;
  font-weight: 450;
}

h4.jost {
  font-family: 'Jost';
  font-size: 1.563rem;
  font-weight: 425;
}

.prompt {
  font-family: 'Prompt';
  font-size: 1rem;
  font-weight: 300;
}

.toggle-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fffaf0;
 }

 #nav-icon1 span{
  display: block;
  margin:2px;
  height: 3px;
  width:20px;
  background: #fffaf0;
  color: #802412;
  border-radius: 2px;
}


/*.collapse:not(.show) {
  display: none; }
*/

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; 
}

.dropdown-toggle {
  white-space: nowrap;
}

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; 
  }

  .dropdown-toggle:empty::after {
    margin-left: 0; 
  }


.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #000000;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; 
}


  .dropdown-item:hover, .dropdown-item:focus {
    color: #3ca38a;
    text-decoration: none;
    background-color: #fffaf0; 
  }

  .dropdown-item.active, .dropdown-item:active {
    color: #fffaf0;
    text-decoration: none;
    background-color: #3ca38a; 
  }

  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent; 
  }


.dropdown-menu.show {
  display: block; 
}


.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #f09f42;
  white-space: nowrap; 
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #f09f42; 
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; 
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; 
}

.p-0 {
  padding: 0 !important; 
}

.pt-0,
.py-0 {
  padding-top: 0 !important; 
}

.pr-0,
.px-0 {
  padding-right: 0 !important; 
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important; 
}

.pl-0,
.px-0 {
  padding-left: 0 !important; 
}

.p-1 {
  padding: 0.25rem !important; 
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; 
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; 
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; 
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; 
}

.p-2 {
  padding: 0.5rem !important; 
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; 
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; 
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; 
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; 
}

.p-3 {
  padding: 1rem !important; 
}

.pt-3,
.py-3 {
  padding-top: 1rem !important; 
}

.pr-3,
.px-3 {
  padding-right: 1rem !important; 
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; 
}

.pl-3,
.px-3 {
  padding-left: 1rem !important; 
}

.p-4 {
  padding: 1.5rem !important; 
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; 
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; 
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; 
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; 
}

.p-5 {
  padding: 3rem !important; 
}

.pt-5,
.py-5 {
  padding-top: 3rem !important; 
}

.pr-5,
.px-5 {
  padding-right: 3rem !important; 
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; 
}

.pl-5,
.px-5 {
  padding-left: 3rem !important; 
}

 .pt-6,
.py-6 {
  padding-top: 3.5rem !important; 
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgba(251, 208, 163, 0.7);
  color: #802412;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; 
}

#sidebar.active {
    margin-left: -250px; 
  }

 #sidebar.active .custom-menu {
      margin-right: -50px; 
    }

  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem; 
  }

 #sidebar h1 .logo {
      color: #802412; 
    }

  #sidebar ul.components {
    padding: 0; 
  }

  #sidebar ul li {
    font-size: 16px; 
  }

    #sidebar ul li > ul {
      margin-left: 10px; 
    }

      #sidebar ul li > ul li {
        font-size: 14px; 
      }

    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: #802412;
      border-bottom: 1px solid #802412; 
    }

      #sidebar ul li a:hover {
        color: #802412; 
      }

    #sidebar ul li.active > a {
      background: transparent;
      color: #802412; 
    }

  @media (max-width: 850px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important; } 
      }

  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
  }

    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } 
      }


/*Side Menu Main Toggle*/
    #sidebar .custom-menu .btn {
      width: 40px;
      height: 40px;
      border-radius: 10%; 
    }

      #sidebar .custom-menu .toggle-btn {
        background: #802412;
        border-color: #fffaf0; 
      }

      #sidebar .custom-menu .toggle-btn:hover, #sidebar .custom-menu .btn:focus {
          background: #000 !important;
          border-color: #fff !important; 
        }



/*Side Menu Toggles*/
a[data-toggle="collapse"] {
  position: relative; 
}


.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}


@media (max-width: 850px) {
  #sidebarCollapse span {
    display: block; } 
  }


/*Keeps the side bar background at 100% height*/
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}


/*.page-item .page-link {
    z-index: 3;
    color: #343a40;
    border-color: #343a40;
}
*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #343a40;;
    border-color: #343a40;
}

.page-link{
  color: #343a40;
}